.personal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2.5rem;
    margin: 4rem 0;
  }
  
  .personal-card {
    border: 1px solid #eee;
    padding: 2rem;
    text-align: left;
  }
  .personal-image img {
   position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: translate(-50%, -50%);
  }
  
  .personal-card h3 {
    color: #00a651;
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
  }
  
  .personal-card .cargo {
    color: #9b9b9b;
    margin-bottom: 1rem;
  }
  
  .personal-card span {
    display: block;
    color: #000;
    margin-bottom: 0.2rem;
  }
  
  .personal-card a {
    color: #00a651;
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
  }
  
  .personal-card .telefono {
    color: #000;
  }