/* Carousel.css */

.slick-slider {
    width: 60%; /* Ajusta el ancho del contenedor principal al 80% del contenedor padre */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    border: 2px solid #000; /* Añade un borde de 2 píxeles con color gris */
    border-radius: 5px; /* Añade esquinas redondeadas */
    overflow: hidden; /* Oculta las partes visibles de la imagen siguiente o anterior */
    position: relative;
  }
  
  /* Estilo de las imágenes dentro del carrusel */
  .slick-slide img {
    width: 100%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
  }

.slick-prev,
.slick-next {
  font-size: 24px; /* Tamaño de la flecha */
 /* Color de la flecha */
}

/* Estilo del contenedor de las flechas de navegación */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%; /* Posiciona las flechas en el centro verticalmente */
  transform: translateY(-50%);
  z-index: 1; /* Asegura que las flechas estén sobre las imágenes */
}

.slick-prev {
  left: 10px; /* Posiciona la flecha izquierda a 10px del borde */
}

.slick-next {
  right: 10px; /* Posiciona la flecha derecha a 10px del borde */
}

/* Estilo de la clase slick-current (imagen activa) */
.slick-current img {
    transform: scale(1.05); /* Escala ligeramente la imagen activa para resaltarla */
  }

