/* Carousel.css */

/* Contenedor principal del carrusel */
.carousel-isolation {
  isolation: isolate;
}

.slick-slider {
  width: 60%; /* Ancho del carrusel */
  margin: 0 auto; /* Centrado */
  border: 2px solid #000;
  border-radius: 5px;
  overflow: hidden;
  
}

.carousel-slide .carousel-image {
  aspect-ratio: 3 / 4;
  height: auto;
}

/* Imágenes dentro del carrusel */
.Carousel .slick-slide img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Flechas */
.slick-prev,
.slick-next {
  font-size: 24px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

/* Centrado */
.centered {
  text-align: center;
}

@media (max-width: 768px) {
  .carousel-slide {
    height: 500px;
  }
}